<div class="header">
  <div class="headerTitle">
    <h2>Physical Aggression</h2>
  </div>
</div>
<h2 class="subtitle">Why this happens?</h2>
<div class="container">
  <div class="row">
    <div class="col-sm center">
      <img width=146 height=156 src="assets/attention.png">
      <p class="imgDesc">They are angry and want to hurt someone who has upset them, or they want attention.</p>
    </div>
    <div class="col-sm center">
      <img width=198 height=153 src="assets/witness icon.png">
      <p class="imgDesc">Children witnesssed hitting and they are mimicking behavior.</p>
    </div>
    <div class="col-sm center">
      <img width=141 height=155 src="assets/cantverbalizeicon.png">
      <p class="imgDesc">They are responding physically because they dont know how to verbalize their feelings.</p>
    </div>
  </div>
</div>
<h2 class="title">Strategies</h2>
<div class="container">
  <div class="row rowStyle">
    <div class="col-sm-2">
      <div class="dot">1</div>
    </div>
    <div class="col-sm">
      <p class="strategies">
        Children need to know what behavior is, and is not, permitted. Make sure your child is aware of the rules you set and punishments.
      </p>
    </div>
  </div>

  <br>
  <br>

  <div class="row rowStyle">
    <div class="col-sm-2">
      <div class="dot">2</div>
    </div>
    <div class="col-sm">
      <p class="strategies">
        Encurage them to use words to express their feelings rather than fighting. calmly ask your child to explain what has caused
        them to become so angry.
      </p>
    </div>
  </div>

  <br>
  <br>

  <div class="row rowStyle">
    <div class="col-sm-2">
      <div class="dot">3</div>
    </div>
    <div class="col-sm">
      <p class="strategies">
        Children dont possess an innate ability to control themselves. They need to be taught not to kick, hit, or bite wether they
        feel like i.
      </p>
    </div>
  </div>

  <br>
  <br>

</div>