<br>
<br>

<h1 class="text-center">Hitting</h1>

<br>

<p class="text-center">Aggression in children can be a symptom of many different underlying problems. It’s a very polymorphic thing, a commonality for any
   number of different psychiatric conditions, medical problems, and life circumstances.
   And so at the very essence of treating aggression is first to find out what’s driving it.

Whether children are hitting other children, adults, or their own parents, there are generally only a few reasons why kids hit.



They’ve witnessed hitting and they are mimicking behavior,

They are frustrated and are responding physically because they don’t know how to verbalize their feelings,

They are angry and want to hurt someone who has upset them,

or they want attention,
</p>

<br>

<div class="row">
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_one.png">
  </div>
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_two.png">
  </div>
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_three.png">
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm text-center">
    <h2>Set firm and consistent limits</h2>
  </div>
  <div class="col-sm text-center">
    <h2>Help find ways to deal with anger</h2>
  </div>
  <div class="col-sm text-center">
    <h2>Instill self-control in your child</h2>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm text-center">
    <p>Children need to know what behavior is, and is not, permitted. Make sure that everyone who cares for your child is aware of the rules you set, as well as the response to use if he does exhibit this behavior.</p>
  </div>
  <div class="col-sm text-center">
      <p> Encourage them to use words to express their feelings rather than fighting. Calmly ask your child to explain what has caused them to become so angry.</p>
  </div>
  <div class="col-sm text-center">
      <p>Children don't possess an innate ability to control themselves. They need to be taught not to kick, hit, or bite whenever they feel like it.</p>
  </div>
</div>
