<div class="header">
  <div class="headerTitle">
    <h2>Advisors</h2>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm shadow">
    <div class="label">
    </div>
    <div class="info">
      <img src="">
      <h2>Sindy Oh-Liverant</h2>
      <p>
        I practice evedence-based therapies and belive on the importance
          of a collaborative client / therapist relationships when working
          toward change and growth.
        </p>
    </div>
    <div class="contact">
      <p>
        sinvernat21@yahoo.com
      </p>
      <p>
        (424) 721 -3253
      </p>
    </div>
  </div>
  <div class="col-sm shadow">
    <div class="label">
    </div>
    <div class="info">
      <h2>Sindy Oh-Liverant</h2>
      <p>afijdfdaslfjkasjlfkj la</p>
    </div>
    <div class="contact">
      <p>
        email
      </p>
      <p>
        phone
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm shadow">
    <div class="label">
    </div>
    <div class="info">
      <h2>Sindy Oh-Liverant</h2>
      <p>afijdfdaslfjkasjlfkj la</p>
    </div>
    <div class="contact">
      <p>
        email
      </p>
      <p>
        phone
      </p>
    </div>
  </div>
  <div class="col-sm shadow">
    <div class="label">
    </div>
    <div class="info">
      <h2>Sindy Oh-Liverant</h2>
      <p>afijdfdaslfjkasjlfkj la</p>
    </div>
    <div class="contact">
      <p>
        email
      </p>
      <p>
        phone
      </p>
    </div>
  </div>
</div>