.header{
    height: 350px;
    background-size: auto 350px;
    background-repeat: no-repeat;
    text-align: center;
    background-image : url('/assets/HomePhoto.png');
    background-position: center;
    position: relative;
}

.headerTitle{
    position:absolute;
    width:100%;
    height:100px;
    bottom:0px;
    background-image:linear-gradient(
        rgba(35, 76, 123, 0.5),
        rgba(35, 76, 123, 0.5)
    )
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label{
    height: 75px;
    background-color: #07366B;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.profile{
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.icon{
    width: 30px;
    height: 20px;
}

.logo{
    width:75px;
    height:50px;
}

.custom{
    width: 500px;
    height: 350px;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    // margin-right: 50px;
    // text-align: center;
}