<br>

<h1 class="text-center">
  Advisors
</h1>

<br>

<div class="row">
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="assets/drmartin.jpg">

    <br>

    <p>Martin Cohen</p>
    <p>(310) 683-2857</p>
    <p>Marcohen23@gmail.com</p>

  </div>
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="assets/drgeo.JPG">

    <br>

    <p>Dr.Georgiana</p>
    <p>(415) 691-7988</p>
    <p>gs@drgeorgina.com</p>

  </div>
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="https://cdn4.sussexdirectories.com/rms/rms_photos/sized/97/55/255597-447473-2_320x400.jpg?pu=1441694602">

    <br>

    <p>Mikaila Henderson</p>
   <p>(323) 819-9214</p>
   <p>MikailaHenderson@gmail.com</p>

  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="assets/Anita.jpg">

    <br>

    <p>Anita Avedian</p>
    <p>(818) 963-9353</p>
    <p>Anita@anitaAvedian.com</p>
  </div>
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="assets/Patricia.jpg">

    <br>

    <p>Patricia Stephens</p>
    <p>(818) 293-1626</p>
    <p>Patisteph212@gmail.com</p>
  </div>
  <div class="col-sm text-center services-section">
    <img class="rounded-circle" src="https://cdn4.sussexdirectories.com/rms/rms_photos/sized/56/44/104456-1129925-2_320x400.jpg?pu=1512584732">

    <br>

    <p>Sindy Oh-Liverant</p>
    <p>(424) 781-3253</p>
    <p>sinverant21@yahoo.com</p>
  </div>
</div>
