<div class="header">
  <div class="headerTitle">
    <h2>Advisors</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5 mr-5 shadow">
      <div class="label">
        <img class="logo" src="assets/logo.png">
      </div>
      <div class="info">
        <img class="profile" src="assets/sindy.jpg">
        <h2>Sindy Oh-Liverant</h2>
        <p>
          I practice evedence-based therapies and belive on the importance of a collaborative client / therapist relationships when
          working toward change and growth.
        </p>
      </div>
      <div class="contact">
        <div>
          <p>
            <img class="icon" src="assets/Vector 3.png"> sinvernat21@yahoo.com
          </p>
        </div>
        <div>
          <p>
            <img class="icon" src="assets/Vector 2.png"> (424) 721 -3253
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 shadow">
      <div class="label">
        <img class="logo" src="assets/logo.png">
      </div>
      <div class="info">
        <img class="profile" src="assets/Anita.jpg">
        <h2>Anita Avedian</h2>
        <p>
          I enjoy teaching skills and coaching my clients through proper use of them. treatment may be brief to adress a problem </p>
      </div>
      <div class="contact">
        <div>
          <p>
            <img class="icon" src="assets/Vector 3.png"> Anita@anitaavedia.com
          </p>
        </div>
        <div>
          <p>
            <img class="icon" src="assets/Vector 2.png"> (818) 424-1626
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="row">
    <div class="col-sm-5 mr-5 shadow">
      <div class="label">
        <img class="logo" src="assets/logo.png">
      </div>
      <div class="info">
        <img class="profile" src="assets/Patricia.jpg">
        <h2>Patricia stephens</h2>
        <p>
          I have experience working with anxiety and stress management, relationshhips issues,life transitions, and adjustment.
        </p>
      </div>
      <div class="contact">
        <div>
          <p>
            <img class="icon" src="assets/Vector 3.png"> Patriciastephens@yahoo.com
          </p>
        </div>
        <div>
          <p>
            <img class="icon" src="assets/Vector 2.png"> (818) 293-1626
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 shadow">
      <div class="label">
        <img class="logo" src="assets/logo.png">
      </div>
      <div class="info">
        <img class="profile" src="assets/drgeo.JPG">
        <h2>Dr. Georgina</h2>
        <p>
          I have experince working with relationships issues, Life Transitons and adjustment, trauma and PTSD.
        </p>
      </div>
      <div class="contact">
        <div>
          <p>
            <img class="icon" src="assets/Vector 3.png"> drgeorgina.com
          </p>
        </div>
        <div>
          <p>
            <img class="icon" src="assets/Vector 2.png"> (1650) 731-5105
          </p>
        </div>
      </div>
    </div>
  </div>
</div>